table {
    width: 100%; /* Делаем таблицу растягивающейся по ширине родительского контейнера */
    text-align: center; /* Центрируем содержимое ячеек в таблице */
  }
  
  td {
    padding: 10px; /* Добавляем отступы для ячеек таблицы */
  }
  
  th {
    padding: 10px; /* Добавляем отступы для заголовков таблицы */
  }